@import 'nib' // CSS3 extensions for Stylus: http://visionmedia.github.io/nib/

// variables!

slide_width = 640px
slide_height = 480px
//slide_background = -webkit-linear-gradient(#3a84ca 0%, #5f9ad2 50%, #90b5da 75%, #a8c6e3 100%)
slide_transition_length = .6s
slide_transition_easing = ease
slide_transition_rotate_y = 90deg
// Safari bugs out on 3d transform-origins, so we have to fake it
slide_transition_nudge_x = -100px

bullet_transition_length = .3s
bullet_transition_easing = ease
bullet_transition_translate_x = 16px

// base

*
  box-sizing: border-box
  margin: 0
  padding: 0

@media print
  *
    -webkit-print-color-adjust: exact

@page
  size: landscape
  margin: 0

// bespoke.js layout styles

article
  transition: background slide_transition_length slide_transition_easing
  display: none
  &.bespoke-parent
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    overflow: hidden
    @media print
      overflow: visible
      position: static
    perspective: 600px

.bespoke-slide
  transition:
    transform slide_transition_length slide_transition_easing,
    opacity slide_transition_length slide_transition_easing,
    background slide_transition_length slide_transition_easing
  transform-origin: 50% 50% 0
  backface-visibility: hidden
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  width: slide_width
  height: slide_height
  position: absolute
  top: 50%
  margin-top: (slide_height / 2) * -1
  left: 50%
  margin-left: (slide_width / 2) * -1
  background: slide_background
  padding: 40px
  border-radius: 0
  @media print
    zoom: 1 !important // disable bespoke-scale
    height: 743px // seems to correspond with an A4, landscape page height
    width: 100%
    page-break-before: always
    position: static
    margin: 0

.bespoke-before
  transform: translateX(slide_transition_nudge_x * -1) translateX(slide_width / -2) rotateY(slide_transition_rotate_y * -1) translateX(slide_width / -2)

.bespoke-after
  transform: translateX(slide_transition_nudge_x) translateX(slide_width / 2) rotateY(slide_transition_rotate_y) translateX(slide_width / 2)
  @media print
    transform: none

.bespoke-inactive
  opacity: 0
  pointer-events: none
  @media print
    opacity 1

.bespoke-active
  opacity: 1

// bespoke-bullet styles

.bespoke-bullet
  transition: all bullet_transition_length bullet_transition_easing

.bespoke-bullet-inactive
  opacity: 0
  li&
    transform: translateX(bullet_transition_translate_x)
  @media print
    opacity: 1

.bespoke-bullet-active
  opacity: 1

// bespoke-scale styles

.bespoke-scale-parent
  perspective: 600px
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  @media print
    transform: none !important

// bespoke-progress styles

.bespoke-progress-parent
  position: absolute
  top: 0
  left: 0
  right: 0
  height: 2px
  @media only screen and (min-width: 1366px)
    height: 4px
  @media print
    display: none

.bespoke-progress-bar
  transition: width .6s ease
  position: absolute
  height: 100%
  background: #E5F3FC
  border-radius: 0 4px 4px 0

// bespoke-state styles

.emphatic,
.emphatic .bespoke-slide
  background: slide_background

// prism styles

pre
  padding: 26px !important
  border-radius: 8px

// content styles

body
  font-family: helvetica, arial, sans-serif
  font-size: 18px
  color: #f1f1f0
  overflow: hidden

h1
  font-size: 60px
  line-height: 82px
  letter-spacing: -2px
  margin-bottom: 16px
  font-family: cursive

h2
  font-size: 42px
  letter-spacing: -1px
  margin-bottom: 8px
  font-family: fantasy
  font-weight: 100

h3
  font-size: 24px
  font-weight: normal
  margin-bottom: 24px
  color: #dedfe0

hr
  visibility: hidden
  height: 20px

ul
  list-style: none

li
  margin-bottom: 12px

p
  margin: 0 100px 12px
  line-height: 22px

a
  color: #615c68
  text-decoration: none
  
a:hover
	opacity: 0.6
	
h4
	font-family: calibri, arial, sans-serif
	font-size: 18px
	font-weight: 200
	
.container
	width: 100%
	position: relative
	min-height: 50px
	z-index: 999
	background-color: dodgerblue
	
.navbar-header
	margin-top: 1%
	margin-left: 7%
	float: left
	color: lavender
	font-weight: bold
	font-family: cursive
	
br
	line-height: 1.5
	
.ballon
	background: url(../images/balloon.png) no-repeat 0 0;
	width: 125px;
	position: fixed;
	left: 86%;
	top: 53%;
	overflow: visible;
	height: 162px;
	display: block;
	z-index: 9999;
	-webkit-animation: flyUp 80s linear infinite;
	-moz-animation: flyUp 80s linear infinite;
	
@-webkit-keyframes flyUp
	0% { margin-top: 320px;}
	100%{margin-top: -550px;}
	
@-moz-keyframes flyUp
	0% { margin-top: 320px;}
	100%{margin-top: -550px;}
	
.plane
	background: url(../images/plane.png) no-repeat 0 0;
	height: 119px;
	position: fixed;
	top: 1px;
	overflow: visible;
	width: 704px;
	display: block;
	z-index: 9998;
	-webkit-animation: fly 25s infinite linear;
	-webkit-transform: scale(0.27740000000000004);
	-moz-animation: fly 25s infinite linear;
	-moz-transform: scale(0.27740000000000004);
	
@-webkit-keyframes fly
	0% {left: -404px;}
	99.9999% {left: 100%;}
	100% {left: -404px;}
	
@-moz-keyframes fly
	0% {left: -404px;}
	99.9999% {left: 100%;}
	100% {left: -404px;}

.awan
	width: 200px;
	height: 60px;
	background:#ffffff;
	border-radius: 200px;
	position: relative;
	z-index: 9999;


.awan:before,
.awan:after
	content: ' ';
	position: absolute;
	background: #ffffff;
	width: 150px;
	height: 80px;
	position: absolute;
	top: -25px;
	left: 10px;
	border-radius:100px;
	text-transform: rotate(30deg); 
	

.awan:after
	width: 120px;
	height: 120px;
	top: -55px;
	left: auto;
	right: 15px;
	
.no1
	top: 75px;
	opacity: 0.65;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-o-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-animation: jalankanawan 40s linear infinite;
	-moz-animation: jalankanawan 40s linear infinite;
	-ms-animation: jalankanawan 40s linear infinite;
	-o-animation: jalankanawan 40s linear infinite;
	animation: jalankanawan 40s linear infinite;


.no2
	top: 100px
	left: 200px;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-o-transform: scale(0.6);
	-ms-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.65;
	-webkit-animation: jalankanawan 55s linear infinite;
	-moz-animation: jalankanawan 55s linear infinite;
	-ms-animation: jalankanawan 55s linear infinite;
	-o-animation: jalankanawan 55s linear infinite;
	animation: jalankanawan 55s linear infinite;


.no3
	left: -200px;
	top: 150px;
	opacity: 0.65;
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	-o-transform: scale(0.75);
	-ms-transform: scale(0.75);
	transform: scale(0.75);
	-webkit-animation: jalankanawan 60s linear infinite;
	-moz-animation: jalankanawan 60s linear infinite;
	-ms-animation: jalankanawan 60s linear infinite;
	-o-animation: jalankanawan 60s linear infinite;
	animation: jalankanawan 60s linear infinite;

.no4
	left: 470px;
	top: -250;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.65;
	-webkit-animation: jalankanawan 38s linear infinite;
	-moz-animation: jalankanawan 38s linear infinite;
	-ms-animation: jalankanawan 38s linear infinite;
	-o-animation: jalankanawan 38s linear infinite;
	animation: jalankanawan 38s linear infinite;

.no5
	left: -150px;
	top: 190px;
	opacity: 0.65;
	-webkit-animation: jalankanawan 47s linear infinite;
	-moz-animation: jalankanawan 47s linear infinite;
	-ms-animation: jalankanawan 47s linear infinite;
	-o-animation: jalankanawan 47s linear infinite;
	animation: jalankanawan 47s linear infinite;
	
.no6
	left: -170px;
	top: 240px;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-o-transform: scale(0.6);
	-ms-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.65;
	-webkit-animation: jalankanawan 70s linear infinite;
	-moz-animation: jalankanawan 70s linear infinite;
	-ms-animation: jalankanawan 70s linear infinite;
	-o-animation: jalankanawan 70s linear infinite;
	animation: jalankanawan 70s linear infinite;
	
@-webkit-keyframes jalankanawan
	0% { margin-left: 1280px;}
	100%{margin-left: -1280px;}

@-moz-keyframes jalankanawan
	0% { margin-left: 1280px;}
	100%{margin-left: -1280px;}

html
	background: -webkit-linear-gradient(#3a84ca 0%, #5f9ad2 50%, #90b5da 75%, #a8c6e3 100%)
	background: -moz-linear-gradient(#3a84ca 0%, #5f9ad2 50%, #90b5da 75%, #a8c6e3 100%)
	height: 100%
	
#msg
	background-color: #F6F9FB
	position: fixed
	bottom: 0

#msg p
	font-size: 11.5px;
	margin: 3px;
	color: black;
	
#msg p a
	color: #16a085;
	
#navtop
	position: fixed;
	margin-top: -10px;
	left: 50%;
	width: 200px;
	padding: 8px;
	margin-left: -105px;
	border-radius: 50px;
	background: #ffffff;
	z-index: 9997;
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-webkit-animation-duration: .8s;
	-moz-animation-duration: .8s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-delay: 0;
	-moz-animation-delay: 0;
	-webkit-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	-webkit-animation-play-state: running;
	-moz-animation-play-state: running;
	-webkit-animation-fill-mode: none;
	-moz-animation-fill-mode: none;
	
#navtop p
	color: #3D86CB;
	margin: 0;
	font-family: cursive;
	font-weight: bold;
	text-align: center;
	
@-moz-keyframes bounce 
	from {top: -15px;}
	to {top: 0px;}
	
@-webkit-keyframes bounce 
	from {top: -15px;}
	to {top: 0px;}
	